.rNav {
    position: fixed;
    right: 50px;
    top: 225px;
}

.rNavHidden {
    display: none;
}

.shownOnSmall {
    display: none;
}

.shownOnMid {
    display: none;
}

@media screen and (max-device-width: 1279px), (max-width: 1279px) { /*and (min-device-width: 600px) {*/
    .shownOnFull { display: none; }
    .shownOnMid { display: table; }
    .shownOnSmall { display: none; }
    #unitsTable { width: 73% !important; }
    #unitsTable tr {
        height: 50px;
        min-height: 50px;
    }
}

/*@media screen and (max-device-width: 600px) {
    .shownOnFull { display: none; }
    .shownOnMid { display: none; }
    .shownOnSmall { display: table; }
}*/

@font-face {
    font-family: 'Cinzel';
    src: url(/fonts/Cinzel-Medium.otf);
    font-variant-numeric: tabular-nums;
}
@font-face {
    font-family: 'Cinzel';
    src: url(/fonts/Cinzel-ExtraBold.otf);
    font-variant-numeric: tabular-nums;
    font-weight: bold;
}

.tooltip {
    position: relative;
 }

 .tooltip::before {
    white-space: pre;
    background-color: black;
    border: 3px solid white;
    color: white;
    box-shadow: 3px 3px #424242;
    border-radius: 4px;
    content: attr(data-title);
    display: none;
    font: 400 13.3333px Arial;
    padding: 2px 5px;
    position: absolute;
    top: -20px;
    left: 5px;
    z-index: 1;
 }

 .tooltip:hover::before {
    display: block;
 }

 .tooltip::before:empty {
    display: none;
 }

 .achTooltip {
    position: relative;
 }

 .achTooltip::before {
    white-space: pre;
    background-color: black;
    border: 3px solid white;
    color: white;
    box-shadow: 3px 3px #424242;
    border-radius: 4px;
    content: attr(data-title);
    display: none;
    font: 400 13.3333px Arial;
    padding: 2px 5px;
    max-width: 119px;
    min-width: 119px;
    text-align: center;
    white-space: pre-wrap;
    position: absolute;
    top: -20px;
    left: 0px;
    z-index: 1;
 }

 .achTooltip:hover::before {
    display: inline-block;
 }

 .achTooltip::before:empty {
    display: none;
 }

body {
    color: white;
    background-color: black;
    font-family: 'Cinzel', serif;
    font-size: 13pt;
    margin-bottom: 200px;
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
    opacity: 0;
}

.scrollbar::-webkit-scrollbar-track {
    opacity: 0;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border: 1px double rgb(255, 255, 255, 0.4);
    border-radius: 9px;
    opacity: 0.5;
}

#game {
    width: 1280px;
    margin: auto;
}

#help {
    width: 1024px;
    margin: auto;
    text-align: center;
}

#changelog {
    width: 1024px;
    margin: auto;
    text-align: center;
}

#helpDiv {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    line-height: 120%;
    text-align: center;
    border: 1px solid white;
    max-height: 400px;;
    overflow-y: auto;
    padding: 10px;
}

.helpPageDiv {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    line-height: 120%;
    text-align: center;
}

.changelogPageDiv {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    line-height: 120%;
    text-align: center;
}

.popup {
    position: absolute;
    left: 50%;
	top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    background-color: black;
    border: 3px solid white;
    box-shadow: 3px 3px #424242;
    width: 300px;
    border-radius: 4px;
    z-index: 2;
    display: none;
}

.gPopup {
    position: fixed;
    left: 50%;
	top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    background-color: black;
    border: 3px solid white;
    box-shadow: 3px 3px #424242;
    width: 320px;
    border-radius: 4px;
    z-index: 9;
    display: none;
}

.offPopup {
    position: absolute;
    text-align: center;
    background-color: black;
    border: 3px solid white;
    width: 300px;
    border-radius: 4px;
    z-index: 2;
    display: none;
}

.bpopup {
    position: absolute;
    left: 50%;
	top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    background-color: black;
    border: 3px solid white;
    box-shadow: 3px 3px #424242;
    width: 300px;
    border-radius: 4px;
    z-index: 2;
}

.dPopup {
    position: fixed;
    top: 150px;
    right: 50px;
    text-align: center;
    background-color: black;
    border: 3px solid white;
    box-shadow: 3px 3px #424242;
    width: 350px;
    border-radius: 4px;
    z-index: 8;
    display: none;
    height: 600px;
    max-height: 600px;
    overflow: overlay;
}

.dPopup::-webkit-scrollbar {
    width: 10px;
    opacity: 0;
}

.dPopup::-webkit-scrollbar-track {
    margin-top: 46px;
    opacity: 0;
}

.dPopup::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border: 1px double rgb(255, 255, 255, 0.4);
    border-radius: 9px;
    opacity: 0.5;
}

.milestonePopup {
    position: fixed;
    right: 50px;
	top: 150px;
    text-align: center;
    background-color: black;
    border: 3px solid #661503;
    box-shadow: 3px 3px #424242;
    height: 600px;
    width: 400px;
    overflow: overlay;
    border-radius: 4px;
    z-index: 8;
    display: none;
}

h1 {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 13pt;
}

h2 {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 16pt;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

h3 {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 18pt;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 13pt;
}

h5 {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 24pt;
}

h6 {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 18pt;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

button:focus, select:focus {
    outline: none;
}

button > * {
    pointer-events: none;
}

option:active, option.active {
    background-color: white;
    color: black;
}

.unitBut {
    color: white;
    background-color: #170424;
    font-style: bold;
    width: 180px;
    height: 35px;
    border: 1px solid #460573;
    cursor: pointer;
    border-radius: 4px;
}

.unitMax {
    color: white;
    background-color: #170424;
    font-style: bold;
    width: 120px;
    height: 35px;
    border: 1px solid #460573;
    cursor: pointer;
    border-radius: 4px;
}

.unitBut:hover, .unitMax:hover {
    background-color: #460573;
} 

.unitButT {
    color: white;
    background-color: #006ba0;
    font-style: bold;
    width: 180px;
    height: 35px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 4px;
}

.unitMaxT {
    color: white;
    background-color: #006ba0;
    font-style: bold;
    width: 120px;
    height: 35px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 4px;
}

.unitButT:hover, .unitMaxT:hover {
    background-color: white;
    color: #006ba0;
} 

.helpBut {
    color: white;
    background-color: #1f1f1f;
    font-style: bold;
    width: 75px;
    height: 25px;
    border: 1px solid #525252;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Cinzel', serif;
    font-size: 10pt;
    margin: 10px;
}

.tabBut {
    color: white;
    background-color: #1f1f1f;
    font-style: bold;
    width: 178px;
    height: 60px;
    border: 1px solid #525252;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Cinzel', serif;
    font-size: 15pt;
}

.tabButSmall {
    color: white;
    background-color: #1f1f1f;
    font-style: bold;
    width: 200px;
    height: 60px;
    border: 1px solid #525252;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Cinzel', serif;
    font-size: 15pt;
}

.tabButSelected {
    background-color: black !important;
    cursor: default !important;
}

.tabButNotify {
    box-shadow: 0px 0px 20px 10px goldenrod;
}

.tabButIndirectNotify {
    box-shadow: 0px 0px 20px 10px silver;
}

.tabBut:hover {
    background-color: #525252;
}

.displayBut {
    color: white;
    background-color: #1f1f1f;
    font-style: bold;
    width: 250px;
    height: 20px;
    border: 1px solid #525252;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 0px;
    font-family: 'Cinzel', serif;
    font-size: 10pt;
}

.displayBut:hover {
    background-color: #525252;
}

.displayButSkinny {
    color: white;
    background-color: #1f1f1f;
    font-style: bold;
    width: 200px;
    height: 20px;
    border: 1px solid #525252;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 5px;
    font-family: 'Cinzel', serif;
    font-size: 10pt;
}

.displayButSkinny:hover {
    background-color: #525252;
}

.optBut {
    color: white;
    background-color: #1f1f1f;
    font-style: bold;
    width: 150px;
    height: 50px;
    border: 1px solid #525252;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Cinzel', serif;
    font-size: 12pt;
}

.optBut:hover {
    background-color: #525252;
}

.subTabBut {
    color: white;
    background-color: #1f1f1f;
    font-style: bold;
    width: 180px;
    height: 35px;
    border: 1px solid #525252;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Cinzel', serif;
    font-size: 13pt;
}

.subTabBut:hover {
    background-color: #525252;
}

.helpPageBut {
    color: white;
    background-color:black;
    font-style: bold;
    width: 350px;
    height: 100px;
    border: 1px solid#e8000d;
    margin: 10px;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    font-size: 24pt;
    border-radius: 4px;
}

.helpPageButSelected {
    color: white;
    background-color:#e8000d;
    font-style: bold;
    width: 350px;
    height: 100px;
    border: 1px solid#e8000d;
    margin: 10px;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    font-size: 24pt;
    border-radius: 4px;
}

.helpPageBut:hover {
    background-color: #e8000d;
}

.helpPageButSelected:hover {
    background-color:black;
}

.changelogPageBut {
    color: white;
    background-color:black;
    font-style: bold;
    width: 100px;
    height: 30px;
    border: 1px solid#e8000d;
    margin: 10px;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    font-size: 18pt;
    border-radius: 4px;
}

.changelogPageButSelected {
    color: white;
    background-color:#e8000d;
    font-style: bold;
    width: 100px;
    height: 30px;
    border: 1px solid#e8000d;
    margin: 10px;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    font-size: 18pt;
    border-radius: 4px;
}

.changelogPageBut:hover {
    background-color: #e8000d;
}

.changelogPageButSelected:hover {
    background-color:black;
}

.buildBut {
    color: white;
    background-color: #042e0b;
    font-style: bold;
    width: 350px;
    height: 100px;
    border: 1px solid #085e16;
    margin: 10px;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    font-size: 13pt;
    border-radius: 4px;
}

.buildBut:hover {
    background-color: #085e16;
} 

.unclickableBuildBut {
    color: white;
    background-color: #4b4b4b;
    font-style: bold;
    width: 350px;
    height: 100px;
    border: 1px solid #4b4b4b;
    margin: 10px;
    font-family: 'Cinzel', serif;
    font-size: 13pt;
    border-radius: 4px;
}

.astralBut {
    color: white;
    background-color: #0b4014;
    width: 200px;
    height: 200px;
    border: 1px solid #085e16;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Cinzel', serif;
}

.astralOn {
    color: white;
    background-color: #085e16;
    width: 200px;
    height: 200px;
    border: 1px solid #0b4014;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Cinzel', serif;
}

.astralBut:hover {
    background-color: #085e16;
}

.astralOn:hover {
    background-color:  #0b4014;
}

.buildingUpg, .factoryUpg, .necropolisUpg, .sunUpg, .vortexUpg {
    color: white;
    background-color: #042e0b;
    width: 220px;
    height: 120px;
    border: 1px solid #085e16;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px;
}

.unclickableBuildingUpg, .unclickFactoryUpg, .unclickNecropolisUpg, .unclickSunUpg, .unclickVortexUpg {
    color: white;
    background-color: #4b4b4b;
    width: 220px;
    height: 120px;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
    margin: 10px;
}

.boughtBuildingUpg, .boughtFactoryUpg, .boughtNecropolisUpg, .boughtSunUpg, .boughtVortexUpg {
    color: white;
    background-color:black;
    width: 220px;
    height: 120px;
    border: 1px solid #042e0b;
    border-radius: 4px;
    margin: 10px;
}

.buildingUpg:hover, .factoryUpg:hover, .necropolisUpg:hover, .sunUpg:hover, .vortexUpg:hover {
    background-color: #085e16;
} 

.galaxyUpg {
    color: white;
    background-color: #661503;
    width: 175px;
    height: 175px;
    border: 1px solid #e32d05;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.boughtGalaxyUpg {
    color: white;
    background-color:black;
    width: 175px;
    height: 175px;
    border: 1px solid #661503;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.unclickGalaxyUpg {
    color: white;
    background-color: #4b4b4b;
    width: 175px;
    height: 175px;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/*.lockedGalaxyRow {
    color: white;
    position: relative;
    background-color: #4b4b4b;
    width: 175px;
    height: 175px;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.lockedGalaxyRow:after {
    content: url("../images/xxx.png");
    position: absolute;
    top: 0px;
    right: 0px;
    width: 175px;
    height: 175px;
    z-index: 2;
    opacity: 0.95;
}

.lockedGalaxySpan {
    position: absolute;
    width: 150px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}*/

.lockedGalaxyUpg {
    color: white;
    background-color: transparent;
    width: 175px;
    height: 175px;
    border: 3px solid #40ff00;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    z-index: 1;
}

.lockedGalaxyUpg::after {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    border-radius: 4px;
    opacity: 0.6; 
    z-index: -1;
    background: #4b4b4b url("../images/skull.png") no-repeat center;
}

.galaxyUpg:hover {
    background-color: #e32d05;
} 

.lockedArkUpg {
    color: #661503;
    background: #4b4b4b url("../images/questionmark.png") no-repeat center;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 18pt;
    width: 200px;
    height: 120px;
    border: 3px solid #661503;
    border-radius: 4px;
}

.lockedArkUpg:after {
    content: "Complete Challenge " attr(chal-num) " to unlock."
}

.arkUpg {
    color: white;
    background-color: #661503;
    width: 200px;
    height: 120px;
    border: 1px solid #e32d05;
    cursor: pointer;
    border-radius: 4px;
}

.unclickableArkUpg {
    color: white;
    background-color: #4b4b4b;
    width: 200px;
    height: 120px;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
}

.boughtArkUpg {
    color: white;
    background-color:black;
    width: 200px;
    height: 120px;
    border: 1px solid #661503;
    border-radius: 4px;
}

.arkUpg:hover {
    background-color: #e32d05;
} 

.buttonTD {
    text-align: left;
}

.unclickableUnit {
    color: white;
    background-color: #4b4b4b;
    font-style: bold;
    width: 180px;
    height: 35px;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
}

.unclickableMax {
    color: white;
    background-color: #4b4b4b;
    font-style: bold;
    width: 120px;
    height: 35px;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
}

.unclickableUnitT {
    color: white;
    background-color: #4b4b4b;
    font-style: bold;
    width: 180px;
    height: 35px;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
}

.unclickableMaxT {
    color: white;
    background-color: #4b4b4b;
    font-style: bold;
    width: 120px;
    height: 35px;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
}

.spacePrestigeBut {
    color: white;
    background-color: #170424;
    width: 500px;
    height: 175px;
    border: 1px solid #460573;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Cinzel', serif;
}

.spacePrestigeBut:hover {
    background-color: #460573;
}

.timePrestigeBut {
    color: white;
    background-color: #006ba0;
    width: 500px;
    height: 175px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Cinzel', serif;
}

.timePrestigeBut:hover {
    background-color: white;
    color: #006ba0;
}

.galaxyPrestigeBut {
    color: white;
    background-color: #661503;
    width: 500px;
    height: 175px;
    border: 1px solid #e32d05;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Cinzel', serif;
}

.galaxyPrestigeBut:hover {
    background-color: #e32d05;
}

.unclickablePrestige {
    color: white;
    background-color: #4b4b4b;
    width: 500px;
    height: 175px;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
    font-family: 'Cinzel', serif;
}

.constrUpg {
    color: white;
    background-color: #7b3f00;
    width: 200px;
    height: 120px;
    border: 1px solid #db9448;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px;
}

.unclickableConstrUpg {
    color: white;
    background-color: #4b4b4b;
    width: 200px;
    height: 120px;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
    margin: 10px;
}

.constrUpg:hover {
    background-color: #db9448;
} 

.timeUpg {
    color: white;
    background-color: #006ba0;
    width: 200px;
    height: 140px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px;
}

.constrMax {
    color: white;
    background-color: #7b3f00;
    font-style: bold;
    width: 120px;
    height: 35px;
    border: 1px solid #db9448;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px;
}

.constrMax:hover {
    background-color: #db9448;
}

.unclickableTimeUpg {
    color: white;
    background-color: #4b4b4b;
    width: 200px;
    height: 140px;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
    margin: 10px;
}

.timeUpg:hover {
    background-color: white;
    color: #006ba0;
} 

.boughtTimeUpg {
    color: white;
    background-color:black;
    width: 200px;
    height: 140px;
    border: 1px solid #006ba0;
    border-radius: 4px;
    margin: 10px;
}

.buildingsTable {
    border: 1px solid #085e16;
}

.constrTable {
    border: 1px solid #7b3f00;
}

#cUpgHeaderRow {
    border-left: 1px solid #7b3f00;
    border-top: 1px solid #7b3f00;
    border-right: 1px solid #7b3f00;
}

#cUpgRow {
    border-left: 1px solid #7b3f00;
    border-right: 1px solid #7b3f00;
}

#cUpgRow2 {
    border-left: 1px solid #7b3f00;
    border-bottom: 1px solid #7b3f00;
    border-right: 1px solid #7b3f00;
}

.noticeText {
    font-size: 15pt;
    font-weight: bold;
    color: #1c8a2e;
    text-align: center;
}

#exportText {
    width: 80%;
    height: 300px;
    margin: auto;
    background-color: #525252;
    overflow: auto;
    display: none;
}#exportText {
    width: 80%;
    height: 300px;
    margin: auto;
    background-color: #525252;
    overflow: auto;
    display: none;
}

#gImportText {
    min-width: 305px;
    width: 305px;
    height: 100px;
    min-height: 100px;
    margin: auto;
    margin-bottom: 20px;
    background-color: #525252;
    overflow: auto;
    display: none;
}

#gExportText {
    min-width: 305px;
    width: 305px;
    height: 100px;
    min-height: 100px;
    margin: auto;
    margin-bottom: 20px;
    background-color: #525252;
    overflow: auto;
    display: none;
}

#favErrExportText {
    min-width: 305px;
    width: 305px;
    height: 100px;
    min-height: 100px;
    margin: auto;
    margin-bottom: 20px;
    background-color: #525252;
    overflow: auto;
    display: none;
}

.timeLabelLeft {
    width: 100px;
    height: 100px;
    line-height: 50px;
    border: 1px solid #006ba0;
    margin-bottom: 5px;
    color: #006ba0;
    font-size: 22pt;
    font-weight: bold;
    text-align: center;
    float: left;
}

.timeLabelRight {
    width: 100px;
    height: 100px;
    line-height: 50px;
    border: 1px solid #006ba0;
    margin-bottom: 5px;
    color: #006ba0;
    font-size: 22pt;
    font-weight: bold;
    text-align: center;
    float: right;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #525252;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: 1px solid white;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #006ba0;
    cursor: pointer;
    border: 1px solid white;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #006ba0;
    cursor: pointer;
    border: 1px solid white;
}

.sliderLocked {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #525252;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: 1px solid white;
}

.sliderLocked::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #525252;
    border: 1px solid white;
}

.sliderLocked::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #525252;
    border: 1px solid white;
}

.slideContainer {
    width: 70%;
}

.timeSliderBut {
    color: white;
    background-color: #006ba0;
    font-style: bold;
    width: 285px;
    height: 35px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 4px;
}

.timeSliderBut:hover {
    background-color: white;
    color: #006ba0;
}

.unclickSliderBut {
    color: white;
    background-color: #4b4b4b;
    font-style: bold;
    width: 250px;
    height: 35px;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
}

.timeUpgTDs {
    border-left: 1px solid #006ba0;
    border-right: 1px solid #006ba0;
}

.timeUpgTDs2 {
    border-left: 1px solid #006ba0;
    border-right: 1px solid #006ba0;
    display: none;
}

#timeUpgTable {
    border: 1px solid #006ba0;
    border-collapse: collapse;
}

.autobuyerOptions {
    color: white;
    background-color: black;
    position: relative;
    font-size: 11pt;
    width: 250px;
    min-height: 335px;;
    text-align: center;
    border: 1px solid #460573;
    border-radius: 4px;
}

.buyerPriBut {
    position: relative;
    color: white;
    background-color: #1f1f1f;
    font-style: bold;
    margin: auto;
    width: 125px;
    height: 40px;
    border: 1px solid #525252;
    border-radius: 4px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 20pt;
    cursor: pointer;
}

.buyerEnabledLock {
    position: relative;
    text-align: center;
    height: 0px;
}

.buyerEnabledBut {
    position: relative;
    color: white;
    background-color: #1f1f1f;
    font-style: bold;
    margin: 0 auto 20px;
    width: 125px;
    height: 40px;
    border: 1px solid #525252;
    border-radius: 4px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 20pt;
    cursor: pointer;
}

.buyerSpeedLock {
    position: relative;
    text-align: center;
    height: 0px;
}

.buyerSpeedBut {
    position: relative;
    color: white;
    background-color: #1f1f1f;
    font-style: bold;
    margin: 0 auto 20px;
    width: 125px;
    height: 40px;
    border: 1px solid #525252;
    border-radius: 4px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 20pt;
    cursor: pointer;
}

.buyerSpeedLock:after {
    content: "LOCKED";
    position: relative;
    width: 125px;
    height: 40px;
    right: 0px;
    bottom: 56px;
    padding: 4px 7px;
    background-color: #666666;
    color: white;
    font-size: 18pt;
    font-weight: bold;
    border-radius: 4px;
    z-index: 2;
}

.buyerBulkLock {
    position: relative;
    text-align: center;
    height: 0px;
}

.buyerBulkBut {
    position: relative;
    color: white;
    background-color: #1f1f1f;
    font-style: bold;
    margin: 0 auto 20px;
    width: 125px;
    height: 40px;
    border: 1px solid #525252;
    border-radius: 4px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 20pt;
    cursor: pointer;
}

.buyerBulkLock:after {
    content: "LOCKED";
    position: relative;
    width: 125px;
    height: 40px;
    right: 0px;
    bottom: 56px;
    padding: 4px 7px;
    background-color: #666666;
    color: white;
    font-size: 18pt;
    font-weight: bold;
    border-radius: 4px;
    z-index: 2;
}

.buyerBulkContainerx2 {
    height: 75px;
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
}

.buyerAmountTextContainer {
    position: relative;
    text-align: center;
    width: 125px;
    height: 70px;
    margin: 0px auto;
}

.buyerAdvancedContainer {
    text-align: center;
    position: relative;
    width: 125px;
    height: 0px;
    margin: 0px auto;
}

.buyerAdvancedContainer:after {
    content: "LOCKED";
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 57px;
    left: 0px;
    background-color: #3d3d3d;
    border: 1px solid #a3a3a3;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 11px;
    padding-bottom: 13px;
    font-size: 14pt;
    font-weight: bold;
    opacity: 0.8;
    z-index: 2;
}

.buyerAmountContainer {
    width: 100%;
}

.buyerOptionsContainerHalf {
    width: 50%;
}

.buyerOptionsContainer {
    width: 125px;
    margin: 0px auto;
    text-align: center;
}

#sacrificeBuyerAmountsContainer {
    float: left;
}

#sacrificeBuyerAdvancedContainer {
    float: left;
}

#prestigeLockScreen:after {
    content: "LOCKED";
    position: absolute;
    font-size: 32pt;
    font-weight: bold;
    width: 248px;
    height: 213px !important;
    right: 0px;
    top: 0px;
    border-radius: 4px;
    padding-top: 120px;
    background-color: #3d3d3d;
    border: 1px solid #a3a3a3;
    opacity: 0.8;
    z-index: 2;
}

.buyerText {
    width: 80px;
    text-align: center;
    background-color: black;
    color: white;
    border: 1px solid #460573;
    margin-top: 20px;
    margin-bottom: 15px;
}

.buyerTextP {
    width: 80px;
    text-align: center;
    background-color: black;
    color: white;
    border: 1px solid #460573;
    margin-top: 10px;
}

.buyerList {
    width: 100px;
    background-color: black;
    color: white;
    border: 1px solid #460573;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}

.buyerDropdown {
    display: inline-block;
    background-color: black;
    color: white;
    border: 1px solid #460573;
}

.galDropdown {
    display: inline-block;
    background-color: black;
    color: white;
    border: 1px solid #e32d05;
}

.buyerRadio {
    height: 17px;
    width: 17px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    background-color: white;
    cursor: pointer;
}

.buyerRadio:checked {
    background-color: #170424;
    border: 1px solid white;
}

.buyerRadio:checked:hover {
    background-color: #170424;
    border: 1px solid white;
    opacity: 1;
    cursor: default;
}

.buyerRadio:hover {
    background-color: #170424;
    border: 1px solid white;
    opacity: 0.5;
}

.timeCheckbox {
    height: 17px;
    width: 17px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    background-color: white;
    cursor: pointer;
}

.timeCheckbox:checked {
    background-color: #006ba0;
    border: 1px solid white;
}

.timeCheckbox:checked:hover {
    background-color: #006ba0;
    border: 1px solid white;
    opacity: 0.5;
}

.timeCheckbox:hover {
    background-color: white;
    opacity: 0.5;
}

.galaxyCheckbox {
    height: 17px;
    width: 17px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    background-color: white;
    cursor: pointer;
}

.galaxyCheckbox:checked {
    background-color: #e32d05;
    border: 1px solid white;
}

.galaxyCheckbox:checked:hover {
    background-color: #e32d05;
    border: 1px solid white;
    opacity: 0.5;
}

.galaxyCheckbox:hover {
    background-color: white;
    opacity: 0.5;
}

.priorityContainer {
    text-align: center;
    position: relative;
    bottom: 7px;
    margin: 5px auto;
}

.confBut {
    color: white;
    background-color: #1f1f1f;
    font-style: bold;
    width: 50px;
    height: 50px;
    border: 1px solid #525252;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Cinzel', serif;
    font-size: 12pt;
}

#tabButtons {
    width: auto;
    margin: auto;
    margin-top: 25px;
    display: block;
}

.allAutoBut {
    color: white;
    background-color: #170424;
    font-style: bold;
    width: 180px;
    height: 35px;
    border: 1px solid #460573;
    cursor: pointer;
    border-radius: 4px;
}

.allAutoBut:hover {
    background-color: #460573;
}

.achievement {
    width: 125px;
    height: 125px;
    border: 1px solid grey;
    color: grey;
    /*font-weight: bold;*/
    text-align: center;
    padding: 5px;
    margin: auto;
}

.achievementUnlocked {
    width: 125px;
    height: 125px;
    border: 1px solid gold;
    color: gold;
    /*font-weight: bold;*/
    text-align: center;
    padding: 5px;
    margin: auto;
}

.achievementNew {
    box-shadow: 0px 0px 10px 5px goldenrod;
}

.timeUnlockedNotify {
    box-shadow: 0px 0px 5px 5px #006ba0;
}

.achievement p, .achievementUnlocked p {
    vertical-align: middle;
}

#achUnlockPopup {
    position: fixed !important;
    display: block !important;
    top: 55px !important;
    right: 50% !important;
    transform: translateX(-100%) !important;
    box-shadow: 0px 0px 10px 5px goldenrod;
    opacity: 0;
    -webkit-transition: 2s;
    transition: opacity 2s;
}

#milesUnlockPopup {
    position: fixed !important;
    display: block !important;
    top: 55px !important;
    right: 50% !important;
    transform: translateX(-100%) !important;
    box-shadow: 0px 0px 10px 5px #e32d05;
    opacity: 0;
    -webkit-transition: 2s;
    transition: opacity 2s;
}

#savePopup {
    position: fixed !important;
    display: block !important;
    top: 55px !important;
    right: 50% !important;
    transform: translateX(200%) !important;
    box-shadow: 0px 0px 5px 2px white;
    opacity: 0;
    -webkit-transition: 2s;
    transition: opacity 2s;
}

#autosavePopup {
    position: fixed !important;
    display: block !important;
    top: 55px !important;
    right: 50% !important;
    transform: translateX(200%) !important;
    box-shadow: 0px 0px 5px 2px white;
    opacity: 0;
    -webkit-transition: 2s;
    transition: opacity 2s;
}

.milestonesNotify {
    box-shadow: 0px 0px 10px 5px #e32d05;
}

.galaxyBut {
    color: white;
    background-color: #661503;
    font-style: bold;
    width: 270px;
    height: 35px;
    border: 1px solid #e32d05;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.galaxyNameBut4 {
    color: white;
    background-color: #661503;
    font-style: bold;
    width: 130px;
    height: 35px;
    border: 1px solid #e32d05;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Cinzel', serif;
}

.galImpExpBut {
    color: white;
    background-color: #661503;
    font-style: bold;
    width: 130px;
    height: 35px;
    border: 1px solid #e32d05;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Cinzel', serif;
    position: relative;
}

#favSavedNotice {
    color: white;
    background-color: #661503;
    font-style: bold;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Cinzel', serif;
    position: absolute;
    left: 0px;
	top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    transition: opacity 2s;
    opacity: 0;
}

#favLoadNotice {
    color: white;
    background-color: #661503;
    font-style: bold;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Cinzel', serif;
    position: absolute;
    left: 0px;
	top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    transition: opacity 2s;
    opacity: 0;
}

.galaxyNameBut2 {
    color: white;
    background-color: #661503;
    font-style: bold;
    width: 270px;
    height: 35px;
    border: 1px solid #e32d05;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Cinzel', serif;
}

.galaxyBut:hover, .galaxyNameBut4:hover, .galaxyNameBut2:hover {
    background-color: #e32d05;
}

.unclickGalaxyBut {
    color: white;
    background-color: #4b4b4b;
    font-style: bold;
    width: 270px;
    height: 35px;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
}

/*.galaxyTable {
    position: relative;
    text-align: center;
    margin: 20px 0px 0;
    width: 1020px;
    height: 550px;
    border: 1px solid #661503;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0px;
}*/

.galaxyTable {
    position: relative;
    text-align: center;
    margin: 20px 7px 0;
    width: 385px;
    border: 1px solid #661503;
    background-color: transparent;
    border-collapse: collapse;
}

/*.leftGalaxyTD {
    width: 175px;
    height: 195px;
    margin: auto;
    position: relative;
    border-right: 3px solid #661503;
}*/

.leftGalaxyTD {
    margin: auto;
    position: relative;
}

/*.rightGalaxyTD {
    width: 175px;
    height: 195px;
    margin: auto;
    position: relative;
    border-left: 3px solid #661503;
}*/

.rightGalaxyTD {
    margin: auto;
    position: relative;
    border-left: 3px solid #661503;
}

#bottomBorderDiv {
    width: 175px;
    height: 195px;
    margin: auto;
    position: relative;
    border-top: 3px solid #661503;
}

.bottomBorderDiv {
    margin: auto;
    position: relative;
}

.rightBorderDiv {
    margin: auto;
    position: relative;
}

.leftBorderDiv {
    margin: auto;
    position: relative;
}

#topBorderDiv {
    width: 175px;
    height: 195px;
    margin: auto;
    position: relative;
    border-bottom: 3px solid #661503;
}

.topBorderDiv {
    margin: auto;
    position: relative;
}

.arkImg {
    position: absolute;
    top: 150px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: none;
}

#arkSubTab {
    display: none;
    position: relative;
    width: 50%;
    width: 1600px;
    height: 1024px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#thrustersBut {
    position: absolute;
    bottom: 45px;
    left: 50%;
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
}

#enginesBut {
    position: absolute;
    bottom: 45px;
    left: 50%;
    -webkit-transform: translateX(-125%);
    transform: translateX(-125%);
}

#navigationBut {
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#torpedosBut {
    position: absolute;
    top: 300px;
    left: 50%;
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%);
}

#railgunsBut {
    position: absolute;
    top: 300px;
    left: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}

#supportBut {
    position: absolute;
    bottom: 175px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.leftRowCost {
    position: relative;
    width: 50px;
    left: -50px;
    top: 210px;
    margin: 0 0 0 0;
    font-size: 48pt;
    z-index: 2;
}

.rightRowCost {
    position: relative;
    width: 50px;
    left: 1620px;
    top: 125px;
    margin: 0 0 0 0;
    font-size: 48pt;
    z-index: 2;
}

#galaxiesSubTab {
    position: relative; 
    transform: translateX(-18.2%);
    text-align: center;
    width: 1614px;
    height: 1280px;
}

.cursorContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;
    width: 388px;
    height: 771px;
    cursor: move;
}

.milestoneHeaderContainer {
    position: fixed;
    background-color: black;
    width: 399px;
    height: 51px;
    border-radius: 1px;
}

.milestonePopupHeader {
    color: #e32d05;
    background-color: black;
    font-size: 24pt;
    font-weight: 800;
    position: fixed;
    width: 394px;
    height: 40px;
    text-align: center;
    border: 1px solid #661503;
    border-radius: 1px;
    margin: 2px;
}

.milestonePopupHeaderX {
    color: white;
    background-color: transparent;
    font-size: 24pt;
    font-weight: 800;
    position: fixed;
    width: 384px;
    height: 40px;
    text-align: right;
    border: 1px solid #661503;
    padding-right: 10px;
    border-radius: 1px;font-family: 'Roboto', sans-serif;
    font-weight: 800;
    margin: 2px;
    z-index: 9;
}

.milestonePopupHeaderX a {
    color: white;
    text-decoration: none;
}

.headerHeaderContainer {
    position: fixed;
    background-color: black;
    width: 350px;
    height: 51px;
    border-radius: 1px;
}

.headerPopupHeader {
    color: white;
    background-color: black;
    font-size: 20pt;
    font-weight: 800;
    position: fixed;
    width: 294px;
    height: 40px;
    padding-right: 50px;
    text-align: center;
    border: 1px solid white;
    border-radius: 1px;
    margin: 2px;
}

.headerPopupHeaderX {
    color: white;
    background-color: transparent;
    font-size: 24pt;
    font-weight: 800;
    position: fixed;
    width: 330px;
    height: 40px;
    text-align: right;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    margin: 2px;
    z-index: 9;
}

.headerPopupHeaderX a {
    color: white;
    text-decoration: none;
}

.milestonePopupHR {
    background-color: black;
    position: fixed;
    height: 1px;
    width: 394px;
    margin-top: 46px;
    margin-left: 2px;
    border: 1px solid #661503;
    border-radius: 1px;
}

.displayButtonsTable{
    width: 100%;
    height: 549px;
    width: 340px;
    margin-top: 49px;
    margin-right: 10px;
    border-radius: 4px;
    border-radius: 1px;
}

.milestoneTable {
    width: 100%;
    height: 876px;
    width: 400px;
    border-radius: 4px;
    border-radius: 1px;
}

.milestoneTDH {
    background-color: black;
    color: #e32d05;
    width: 394px;
    height: 43px;
}

.milestoneTDHR {
    background-color: black;
    height: 0px;
    width: 394px;
    border: 1px double #661503;
}

.milestoneTD {
    padding-bottom: 10px;
    padding-top: 10px;
    height: 75px;
    border: 1px double #661503;
    background-color: #661503;
    border-radius: 1px;
}

.milestoneTDUnlocked {
    padding-bottom: 10px;
    padding-top: 10px;
    height: 75px;
    border: 1px double #661503;
    background-color: black;
    border-radius: 1px;
}

.milestoneTDButton {
    height: 94px;
    border: 1px double #661503;
    background-color: black;
    border-radius: 1px;
}

.milestonePopup::-webkit-scrollbar {
    width: 10px;
}

.milestonePopup::-webkit-scrollbar-track {
    margin-top: 51px;
    opacity: 0;
}

.milestonePopup::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px double rgb(248, 248, 255, 0.3);
    border-radius: 9px;
    opacity: 0.5;
}
